.carousel{
    width: 100%;
    .carousel-opinion{
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    h3{
        text-decoration: underline;
        text-shadow: none;
        margin-bottom: 15px;
    }
}
.carousel-item{
    transition: $carousel-transition;
    img{
        filter:brightness(0.6);
    }
}
.carousel-indicators{
    display: none;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1;
    color:$color-letra;
}
.carousel-caption{
    i{
        padding: 0 2px;
        color: gold;
        text-shadow: 2px 2px black;
    }
    p{
        font-size: 1.2rem;
        font-weight: 500;
        text-shadow: 2px 2px black;
    }
}