@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url("../img/background3.jpg");
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

i {
  font-size: 1.75rem;
  color: #fff;
}

p {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.row {
  margin: 0;
}

::selection {
  background: white;
  color: black;
  text-shadow: none;
}

.main-container {
  height: min-content;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titulo-seccion {
  color: #fff;
  font-size: 4rem;
  text-decoration: underline;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.subtitulo-seccion {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 2rem;
  margin-top: 10px;
  text-shadow: 4px 4px black;
}

.navbar {
  border-bottom: 1px solid #fff;
  padding: 0;
  height: 95px;
  z-index: 1;
}

.nav-link {
  color: #fff;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 475;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nav-link.nav-link:-webkit-any-link {
  color: #fff;
}

.navbar-container {
  background-image: url("../img/background3.jpg");
}

.navbar-collapse {
  transition: ease 0.5s;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 0 0;
  transition: all 0.5ms;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: none;
  transition: all 0.5ms;
  --bs-dropdown-link-active-bg:$color-letra;
}
.dropdown-menu li {
  width: fit-content;
  margin: auto;
}

.dropdown-item {
  color: #fff;
}

.footer {
  margin-top: 30px;
  border-top: 1px solid #f5f5f5;
  height: 100px;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0 50px;
  height: 100%;
  width: 100%;
}
.footer-content .footer-copyright {
  text-align: center;
}
.footer-content .ig-icon {
  justify-self: end;
  font-size: 32px;
  font-weight: 601;
}
.footer-content #logo-footer {
  justify-self: start;
}

@media (max-width: 576px) {
  .footer-content {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .ig-icon {
    justify-self: auto;
  }
}
.container-productos .tarjeta-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: 400px;
  margin: 50px 15px 0 15px;
  border-radius: 10px;
  border: 2px solid;
  transition: transform 0.5s;
}
.container-productos .tarjeta-producto img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.container-productos .tarjeta-producto .titulo-producto {
  margin: 0;
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", sans-serif;
  user-select: none;
}
.container-productos .tarjeta-producto .boton-producto {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.315);
}
.container-productos .tarjeta-producto .precio-producto {
  color: #fff;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}
.container-productos .tarjeta-producto:hover {
  transform: scale(1.03) !important;
}
.container-productos .tarjeta-producto {
  background-color: rgba(89, 97, 141, 0.315);
  border-color: rgb(89, 101, 141);
}

.container-novedades .tarjeta-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: 400px;
  margin: 50px 15px 0 15px;
  border-radius: 10px;
  border: 2px solid;
  transition: transform 0.5s;
}
.container-novedades .tarjeta-producto img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.container-novedades .tarjeta-producto .titulo-producto {
  margin: 0;
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", sans-serif;
  user-select: none;
}
.container-novedades .tarjeta-producto .boton-producto {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.315);
}
.container-novedades .tarjeta-producto .precio-producto {
  color: #fff;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}
.container-novedades .tarjeta-producto:hover {
  transform: scale(1.03) !important;
}
.container-novedades .tarjeta-producto {
  background-color: rgba(141, 89, 89, 0.315);
  border-color: rgb(141, 89, 89);
}

.slogan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-image: url(../img/jorispresentacion2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: fixed;
  border-bottom: 1px solid #f5f5f5;
}
.slogan .titulo-slogan {
  color: #fff;
  font-size: 4rem;
  text-decoration: underline;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 4px black;
}

.imagen-compras {
  display: flex;
  justify-content: end;
  height: 50%;
  width: 80%;
  padding: 20px;
  margin-bottom: 30px;
}
.imagen-compras img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.carousel {
  width: 100%;
}
.carousel .carousel-opinion {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.carousel h3 {
  text-decoration: underline;
  text-shadow: none;
  margin-bottom: 15px;
}

.carousel-item {
  transition: transform 1s ease-in-out;
}
.carousel-item img {
  filter: brightness(0.6);
}

.carousel-indicators {
  display: none;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
  color: #fff;
}

.carousel-caption i {
  padding: 0 2px;
  color: gold;
  text-shadow: 2px 2px black;
}
.carousel-caption p {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  text-shadow: 2px 2px black;
}

input {
  background-color: rgba(255, 255, 255, 0.315);
  color: #fff;
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin: 10px;
  border: none;
  box-shadow: 5px 5px rgba(172, 227, 187, 0.5);
  width: 50%;
  height: 10%;
}
input:focus {
  outline: none;
}

textarea {
  background-color: rgba(255, 255, 255, 0.315);
  color: #fff;
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin: 10px;
  border: none;
  box-shadow: 5px 5px rgba(172, 227, 187, 0.5);
  resize: none;
  padding-top: 10px;
  width: 50%;
  height: 30%;
}
textarea:focus {
  outline: none;
}

.boton-enviar {
  background-color: rgba(255, 255, 255, 0.315);
  color: #fff;
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin: 10px;
  border: none;
  box-shadow: 5px 5px rgba(172, 227, 187, 0.5);
  width: 25%;
  height: 10%;
}
.boton-enviar:focus {
  outline: none;
}
.boton-enviar:hover {
  cursor: pointer;
}

::placeholder {
  color: #fff;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.mapa-contacto {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  grid-column: 1/3;
}
.mapa-contacto iframe {
  box-shadow: 5px 5px rgba(172, 227, 187, 0.5);
}

@media (min-width: 576px) and (max-width: 991px) {
  input, textarea {
    width: 75%;
  }
}
.container-novedades {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .titulo-slogan {
    font-size: 1rem;
  }
  .navbar-brand img {
    width: 220px;
  }
}
.container-productos {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .titulo-slogan {
    font-size: 1rem;
  }
  .navbar-brand img {
    width: 220px;
  }
}
.seccion-compras {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.75rem;
  text-shadow: 2px 2px black;
  padding: 1em;
}
.seccion-compras .como-comprar a {
  border: 2px solid white;
  padding: 3px;
  margin-top: 5px;
}
.seccion-compras .como-comprar a:hover {
  background-color: rgba(255, 255, 255, 0.315);
}

@media (max-width: 476px) {
  .seccion-compras {
    font-size: 1rem;
  }
}
.container-aboutus {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px auto 30px auto;
}

.p-aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 1200px) {
  .container-aboutus {
    flex-direction: column;
    align-items: center;
  }
  .imagen-aboutus {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .p-aboutus {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .p-aboutus {
    width: 100%;
  }
}
.formulario-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.otra-forma-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
  font-size: 1rem;
  padding: 30px;
}
.otra-forma-contacto .titulo-otra-forma-contacto {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.otra-forma-contacto .redes-otra-forma-contacto {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.otra-forma-contacto .redes-otra-forma-contacto a {
  justify-self: center;
}

@media (max-width: 1300px) {
  .redes-otra-forma-contacto, .titulo-otra-forma-contacto {
    width: 75%;
  }
}
@media (max-width: 786px) {
  .formulario-container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 786px) and (max-width: 1100px) {
  .boton-enviar {
    height: 15%;
  }
}

/*# sourceMappingURL=styles.css.map */
