@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
* a {
  color: #fff;
  text-decoration: none;
}
* i {
  font-size: 28px;
  color: #fff;
}
* p {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}
* .row {
  margin: 0;
}

body {
  background-image: url("../img/background3.jpg");
}

.titulo-seccion, .titulo-seccion h3 {
  color: #fff;
  font-size: 64px;
  text-decoration: underline;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.subtitulo-seccion {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 2em;
  text-shadow: 4px 4px black;
}

.navbar {
  border-bottom: 1px solid #fff;
  padding: 0;
  height: 95px;
}

.nav-link {
  color: #fff;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 475;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nav-link.nav-link:-webkit-any-link {
  color: #fff;
}

.navbar-container {
  background-image: url("../img/background3.jpg");
}

.navbar-collapse {
  transition: ease 0.5s;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 0 0;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: none;
  transition: all 0.5ms;
  --bs-dropdown-link-active-bg:$color-letra;
}
.dropdown-menu li {
  width: fit-content;
  margin: auto;
}

.dropdown-item {
  color: #fff;
}

.slogan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-image: url(../img/jorispresentacion2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: fixed;
  border-bottom: 1px solid #f5f5f5;
}
.slogan .titulo-seccion {
  text-shadow: 3px 4px black;
}

.container-novedades {
  margin: 0;
}

.tarjeta-producto2, .tarjeta-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: 400px;
  margin: 50px 15px 0 15px;
  background-color: rgba(141, 89, 89, 0.315);
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(141, 89, 89);
  transition: transform 0.5s;
}
.tarjeta-producto2 img, .tarjeta-producto img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.tarjeta-producto2 .titulo-producto, .tarjeta-producto .titulo-producto {
  margin: 0;
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", sans-serif;
  user-select: none;
}
.tarjeta-producto2 .boton-producto, .tarjeta-producto .boton-producto {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.315);
}
.tarjeta-producto2 .precio-producto, .tarjeta-producto .precio-producto {
  color: #fff;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.tarjeta-producto2:hover, .tarjeta-producto:hover {
  transform: scale(1.03);
}

.seccion-compras {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.75rem;
  text-shadow: 4px 4px black;
  padding: 20px;
}

.imagen-compras {
  display: flex;
  justify-content: end;
  height: 50%;
  width: 80%;
  padding: 20px;
  margin-bottom: 30px;
}
.imagen-compras img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.main-container {
  height: min-content;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-aboutus {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px auto 30px auto;
}

.imagen-aboutus {
  display: flex;
  justify-content: center;
  width: 50%;
}
.imagen-aboutus img {
  width: 75%;
  border-radius: 10px;
}

.p-aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 1200px) {
  .container-aboutus {
    flex-direction: column;
    align-items: center;
  }
  .imagen-aboutus {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .p-aboutus {
    width: 100%;
  }
}
.formulario-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

input, textarea, .boton-enviar {
  background-color: rgba(255, 255, 255, 0.315);
  width: 50%;
  height: 10%;
  color: #fff;
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin: 10px;
  border: none;
  box-shadow: 5px 5px rgba(172, 227, 187, 0.5);
}

textarea {
  resize: none;
  padding-top: 10px;
  height: 30%;
}

.boton-enviar {
  width: 25%;
}

.boton-enviar:hover {
  cursor: pointer;
}

input:focus, textarea:focus, .boton-enviar:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.otra-forma-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
  font-size: 1rem;
  padding: 30px;
}

.titulo-otra-forma-contacto {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.redes-otra-forma-contacto {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.redes-otra-forma-contacto a {
  justify-self: center;
}

@media (max-width: 1300px) {
  .redes-otra-forma-contacto, .titulo-otra-forma-contacto {
    width: 75%;
  }
}
.mapa-contacto {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  grid-column: 1/3;
}
.mapa-contacto iframe {
  box-shadow: 5px 5px rgba(172, 227, 187, 0.5);
}

@media (max-width: 786px) {
  .formulario-container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 786px) and (max-width: 1100px) {
  .boton-enviar {
    height: 15%;
  }
}
.footer {
  margin-top: 30px;
  border-top: 1px solid #f5f5f5;
  height: 100px;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0 50px;
  height: 100%;
  width: 100%;
}
.footer-content .footer-copyright {
  text-align: center;
}
.footer-content .ig-icon {
  justify-self: end;
  font-size: 32px;
  font-weight: 601;
}
.footer-content #logo-footer {
  justify-self: start;
}

@media (max-width: 576px) {
  .footer-content {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .ig-icon {
    justify-self: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
